
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Bibliomart | About Us</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootswatch.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">


    <!-- favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}"/>
</head>
<style type="text/css">
.navbar-nav > li{
    font-size: 14px;
}
</style>
<body style="padding-top: 70px;">

    <!-- Fixed navbar -->
    {% include 'navbar.html' %}

    <div class="container">

        {% include 'flash.html'%}


        <div class="btn-group btn-group-justified">

            <a href="{{url_for('index')}}" class="btn btn-default">Home</a>
            <a href="{{url_for('aboutus')}}" class="btn btn-primary">About Us</a>
            <a href="{{url_for('contactus')}}" class="btn btn-default">Contact US</a>

        </div>

        <div class="jumbotron">
            <center><h1>ABOUT US</h1></center>

            <p>
              Bibliomart is developed on 2017 by Ashna Abdul Lathif, Anita Yesudas and Tissa Ann Mary, a group of Computer Science Engineering students of Christ Knowledge City, Ernakulam.
            </p>
        </div>


        <!-- Main component for a primary marketing message or call to action -->

     <!-- /container -->

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Bibliomart 2017</p>
            </div>
        </div>
    </footer>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>
