<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Bibliomart | New Category</title>
    <!-- Bootstrap core CSS -->
    <!-- <link href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/bootswatch.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fileinput.min.css')}}" media="all" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <script src="{{ url_for('static', filename='js/fileinput.js')}}" type="text/javascript"></script>

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}"/>
</head>


<body style="padding-top: 70px;">

    {% include 'navbar.html' %}
    <div id="modal-bg" class="modal-bg">

        <div class="container">

            <div class="row">
                <div class="col-md-2" >
                    <h3></h3>
                    <ul class="nav nav-sidebar">
                        <li>
                            <a href="{{url_for('admin_verify')}}">
                                Verify Users
                              </a>
                    </li>
                    <li>
                        <a href="{{url_for('add_book')}}">
                            Add Books
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('admin_view_books')}}">
                            View Books
                        </a>
                    </li>

                <li class="active">
                    <a href="{{url_for('add_category')}}">
                            Add Category
                    </a>
                </li>
                <li>
                    <a href="{{url_for('admin_confirmed_orders')}}">
                            Confirmed Orders
                    </a>
                </li>
              </ul>
            </div>

            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Add New Category</h3>
                        <form id="file-form"  role="form" method="post" enctype=multipart/form-data>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                            <div class="form-group">
                                <label for="title">Name</label>
                                <input type="text"
                                class="form-control"
                                name="name"
                                placeholder="Enter new category" required>
                            </div>

                          <button type="submit" class="btn btn-success"
                          id="submit-button">Add Category</button>
                            <a id ="cancel-button" class="btn btn-warning"
                            href="{{url_for('admin_verify')}}">
                                Cancel </a>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-md-10" >
                    <div class="panel">
                        <div class="panel-body">
                            <h3>All Categories:</h3>
                            <hr/>
                            {% for category in categories %}
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h4>{{category.name}}</h4>

                                        <hr/>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
</body>

 </html>
