<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Bibliomart | Admin Books</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="{{ url_for('static', filename='css/bootstrabook.css')}}" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/bootswatch.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- favicon -->
    <!--<link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}"/> -->
</head>

<body style="padding-top: 70px;">

    {% include 'navbar.html' %}
    <div id="modal-bg" class="modal-bg">

        <div class="container">

            <div class="row">
                <div class="col-md-2" >
                    <h3></h3>
                    <ul class="nav nav-sidebar">
                        <li>
                            <a href="{{url_for('admin_verify')}}">
                                Verify Users
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('add_book')}}">
                                Add Books
                            </a>
                        </li>
                        <li class="active">
                            <a href="{{url_for('admin_view_books')}}">
                                View Books
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('add_category')}}">
                                Add Category
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('admin_approve_orders')}}">
                                Approve Orders
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10" >
                    <div class="panel">
                        <div class="panel-body">
                            <h3>All Books:</h3>
                            <hr/>
                            {% for book in books %}

                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h4>{{book.title}}</h4>
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                        <span style="font-size:14px;padding-right:10px">{{book.author}}</span>
                                        <hr/>
                                        <p class="book-description">{{book.description}}</p>

                                        {% if book.images.all() %}
                                        <hr/>
                                        <div class = "row">
                                            <ul class="list-unstyled">
                                                {% for i in book.images.all() %}
                                                <li>
                                                    <div class="col-md-3">
                                                        <a  class="thumbnail">
                                                            <img src="{{ url_for('static', filename='files/images/%s'%(i.filename))}}">
                                                        </a>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>

                                        {% endif %}

                                        <hr/>
                                        <span class="pull-left">
                                            <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                                            Category: {{book.category.name}}
                                        </span>
                                        <span class="pull-right">
                                            Price: {{book.price}}
                                        </span>

                                        {#<div class="pull-right">
                                            <a href="{{url_for('view_book', book_id=book.id)}}" style="padding-right: 1em;">
                                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                                {{book.comments.all() | length }} Comment(s)
                                            </a>
                                            <a href="{{url_for('view_book', book_id=book.id)}}" >
                                                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                                                Permalink
                                            </a>
                                        </div>#}

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-10" >
                    <div class="panel">
                        <div class="panel-body">
                            <h3>All Users:</h3>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Registerd on</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    {% for user in verifiedusers %}
                                        <td>{{user.user_role}}</td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.mobilenumber}}</td>
                                        <td>{{user.registered_on}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrabook.min.js')}}"></script>

</body>

</html>
