<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Bibliomart | Admin</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/bootswatch.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- favicon -->
    <!--<link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}"/> -->
</head>

<body style="padding-top: 70px;">

    {% include 'navbar.html' %}
    <div id="modal-bg" class="modal-bg">

        <div class="container">

            <div class="row">
                <div class="col-md-2" >
                    <h3></h3>
                    <ul class="nav nav-sidebar">
                        <li class="active">
                            <a href="{{url_for('admin_verify')}}">
                                Verify Users
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('add_book')}}">
                                Add Books
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('admin_view_books')}}">
                                View Books
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('add_category')}}">
                                Add Category
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('admin_approve_orders')}}">
                                Approve Orders
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10" >
                    <div class="panel">
                        <div class="panel-body">
                            <h3>Verify Accounts:</h3>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in unverifiedusers %}
                                    <tr>
                                        <td>{{user.user_role}}</td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.mobilenumber}}</td>
                                        <td>
                                            <button type="submit" class="btn btn-success btn-sm" userid="{{user.id}}">Approve</button>
                                            <button type="submit" class="btn btn-warning btn-sm" userid="{{user.id}}">Reject</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-10" >
                    <div class="panel">
                        <div class="panel-body">
                            <h3>All Users:</h3>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Registerd on</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    {% for user in verifiedusers %}
                                        <td>{{user.user_role}}</td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.mobilenumber}}</td>
                                        <td>{{user.registered_on}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <!--    <div class="col-md-10" >
                    <div class="panel">
                        <div class="panel-body">
                            <h3>All Users:</h3>
                            <hr/>
                            {% for user in users %}
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h4>Name:{{user.name}}</h4>
                                        <h4>Email:{{user.email}}</h4>
                                        <h4>Mobile No:{{user.mobilenumber}}</h4>
                                        <h4>Registerd on:{{user.registered_on}}</h4>
                                        <h4>User role:{{user.user_role}}</h4>
                                        <hr/>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>

    <form id="userform" method="post" class="form-inline" tyle="display: inline-block">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="formtype" value="">
        <input type="hidden" id="userid" class="form-control" name="userid" value="" >
    </form>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <script type="text/javascript">
    $(document).ready(function(){
        $('a img').on('click',function(){
            var src = $(this).attr('src');
            var img = '<a href = "' + src + '"><img class="img-responsive center-block" src="' + src + '"/></a>';
            $('#myModal').modal();
            $('#myModal').on('shown.bs.modal', function(){
                $('#myModal .modal-body').html(img);

                $('#modal-bg').addClass('modal-open');
            });
            $('#myModal').on('hidden.bs.modal', function(){
                $('#myModal .modal-body').html('');

                $('#modal-bg').removeClass('modal-open');
            });
        });

        $('.btn-success').on('click',function(){
            var userid = $(this).attr('userid');
            $('[name=formtype]').val('approve');
            $('[name=userid]').val(userid);
            $('#userform').submit();
        });
        $('.btn-warning').on('click',function(){
            var userid = $(this).attr('userid');
            $('[name=formtype]').val('reject');
            $('[name=userid]').val(userid);
            $('#userform').submit();
        });
    })
    </script>
</body>

</html>
