
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Bibliomart | Contact Us</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootswatch.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">


    <!-- favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}"/>
</head>
<style type="text/css">
.navbar-nav > li{
    font-size: 14px;
}
</style>
<body style="padding-top: 70px;">

    <!-- Fixed navbar -->
    {% include 'navbar.html' %}
    <div class="container">

        {% include 'flash.html'%}

        <div class="btn-group btn-group-justified">

            <a href="{{url_for('index')}}" class="btn btn-default">Home</a>
            <a href="{{url_for('aboutus')}}" class="btn btn-default">About Us</a>
            <a href="{{url_for('contactus')}}" class="btn btn-primary">Contact US</a>

        </div>
        <div class="col-md-8 col-md-offset-2" style = "margin-top:5em;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>CONTACT US</h3>
                    <p><h5>Drop a mail to any/all of us.</h5></p>
                    <div class="list-group">
                        <p><h5> Developers:</h5></p>
                        <a class="list-group-item">
                            <p><strong> Ashna Abdul Lathif</strong>
                                <span class="pull-right">
                                    ashna@bibliomart.com
                                </span>
                            </p>
                        </a>
                        <a class="list-group-item">
                            <p><strong> Tissa Ann Mary</strong>
                                <span class="pull-right">
                                    tissa@bibliomart.com
                                </span>
                            </p>
                        </a>
                        <a class="list-group-item">
                            <p><strong> Anita Yesudas</strong>
                                <span class="pull-right">
                                  anita@bibliomart.com
                                </span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main component for a primary marketing message or call to action -->

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>
