<header>
    <div class="header-top">
        <div class="content-margins">
            <div class="row">
                <div class="col-md-5 hidden-xs hidden-sm">
                    <div class="entry"><b>contact us:</b> <a href="tel:+9876543210">9876543210</a></div>
                    <div class="entry"><b>email:</b> <a href="mailto:info@bibliomart.com">info@bibliomart.com</a></div>
                </div>
                <div class="col-md-7 col-md-text-right">

                    {% if not g.user.is_authenticated %}
                    <div class="entry"><a href="/login"><b>login</b></a>&nbsp; or &nbsp;<a href="/register"><b>register</b></a></div>
                    {% else %}
                    <div class="entry"><a href="/logout"><b>logout</b></a></div>
                    <div class="entry"><a href="/orders"><b>My Orders</b></a></div>
                    <div class="entry"><a href="/user/edit"><b>My Profile</b></a></div>

                    {% endif %}
                    <div class="entry hidden-xs hidden-sm cart">
                        <a href="/cart">
                            <b class="hidden-xs">Your bag</b>
                            <span class="cart-icon">
                                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                <span class="cart-label">{{cart.book_count if cart.book_count else 0}}</span>
                            </span>
                            <span class="cart-title hidden-xs">₹{{cart.total_price if cart.total_price else 0}}</span>
                        </a>
                        {% if cart.book_count %}
                        <div class="cart-toggle hidden-xs hidden-sm">
                            <div class="cart-overflow">
                                {% for book_rel in cart.cart_books %}
                                <div class="cart-entry clearfix">
                                    {% if book_rel.book.images.all() %}
                                    <a class="cart-entry-thumbnail" href="/book/{{book_rel.book.id}}">
                                        <img style="width:70px" src="{{ url_for('static', filename='files/images/%s'%(book_rel.book.images.all()[0].filename))}}" alt="" />
                                    </a>
                                    {% endif %}
                                    <div class="cart-entry-description">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="h6">
                                                        <a href="#">{{book_rel.book.title}}</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="simple-article size-3 grey">₹{{book_rel.book.price if book_rel.book.price else 0}}</div>
                                                </td>
                                                <td>
                                                    <div class="button-close remove-cart-button" bookId="{{book_rel.book.id}}" csrfToken="{{ csrf_token() }}"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="empty-space col-xs-b40"></div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="cell-view empty-space col-xs-b50">
                                        <div class="simple-article size-5 grey">TOTAL <span class="color">₹{{cart.total_price if cart.total_price else 0}}</span></div>
                                    </div>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <a class="button size-2 style-3" href="/checkout">
                                        <span class="button-wrapper">
                                            <span class="icon"><img src="../static/img/icons/icon-4.png" alt=""></span>
                                            <span class="text">proceed to checkout</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="content-margins">
            <div class="row">
                <div class="col-xs-3 col-sm-1">
                    <a id="logo" href="index.html"><img src="{{ url_for('static', filename='files/images/favicon.png')}}" alt="">Bibliomart</a>
                </div>
                <div class="col-xs-9 col-sm-11 text-right">
                    <div class="nav-wrapper">
                        <div class="nav-close-layer"></div>
                        <nav>
                            <ul>
                                <li class="active">
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="/books">Books</a>
                                    <div class="menu-toggle"></div>
                                    <ul>
                                        {% for i in categories %}
                                        <li>
                                          <a href="/books/{{i.name}}">{{i.name}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li><a href="/contact">contact</a></li>
                            </ul>
                            <div class="navigation-title">
                                Menu
                                <div class="hamburger-icon active">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="header-bottom-icon toggle-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                    <div class="header-bottom-icon visible-rd"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                    <div class="header-bottom-icon visible-rd">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <span class="cart-label">5</span>
                    </div>
                </div>
            </div>
            <div class="header-search-wrapper">
                <div class="header-search-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                                <form action="/search" method="post">
                                    <div class="search-submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        <input type="submit"/>
                                    </div>
                                    <input class="simple-input style-1" type="text" value="find" placeholder="Enter keyword" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="button-close"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="header-empty-space"></div>
