
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Bibliomart </title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootswatch.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">


    <!-- favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}"/>
</head>
<style type="text/css">
.navbar-nav > li{
    font-size: 14px;
}
</style>
<body style="padding-top: 70px;">

    <!-- Fixed navbar -->
    {% include 'navbar.html' %}

    <div class="container">

        {% include 'flash.html'%}


        <div class="btn-group btn-group-justified">

            <a href="{{url_for('index')}}" class="btn btn-primary">Home</a>
            <a href="{{url_for('aboutus')}}" class="btn btn-default">About Us</a>
            <a href="{{url_for('contactus')}}" class="btn btn-default">Contact US</a>


        </div>

        <div class="jumbotron">
            <center><h1>HOME</h1></center>
            <p>
Bibliomart is an online platform to sell and buy used books.
Our target customers are students and book lovers.
In our system we do not give a deadline.
The customers will be provided with clear indexed lists based on categories like fiction,
non-fiction, textbooks, popularity, pricing, authors, etc.
They can buy books from the store with a guarantee that it will be bought back
from them if returned in good condition, whenever they chose to do so.
Payment can be done through our secure online gateways.
We aim to provide a hassle free experience for all our users.
            </p>
        </div>


        <div class="col-md-10" >
            <div class="panel">
                <div class="panel-body">
                    <h3>All Books:</h3>
                    <hr/>
                    {% for book in books %}

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>{{book.title}}</h4>
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                <span style="font-size:14px;padding-right:10px">{{book.author}}</span>
                                <hr/>
                                <p class="book-description">{{book.description}}</p>

                                {% if book.images.all() %}
                                <hr/>
                                <div class = "row">
                                    <ul class="list-unstyled">
                                        {% for i in book.images.all() %}
                                        <li>
                                            <div class="col-md-3">
                                                <a  class="thumbnail">
                                                    <img src="{{ url_for('static', filename='files/images/%s'%(i.filename))}}">
                                                </a>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                {% endif %}

                                <hr/>
                                <span class="pull-left">
                                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                                    Category: {{book.category.name}}
                                </span>
                                <span class="pull-right">
                                    Price: {{book.price}}
                                </span>

                                {#<div class="pull-right">
                                    <a href="{{url_for('view_book', book_id=book.id)}}" style="padding-right: 1em;">
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                        {{book.comments.all() | length }} Comment(s)
                                    </a>
                                    <a href="{{url_for('view_book', book_id=book.id)}}" >
                                        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                                        Permalink
                                    </a>
                                </div>#}

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
      </div>
      </div>
      </div>





















        <!-- Main component for a primary marketing message or call to action -->

    </div> <!-- /container -->















    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>
