<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Questrial|Raleway:700,900" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/bootstrap.extension.css')}}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/swiper.css')}}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/sumoselect.css')}}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">

	<link rel="shortcut icon" href="{{ url_for('static', filename='files/images/favicon.png')}}" rel="stylesheet">
  	<title>Bibliomart</title>
</head>
<body>

    <!-- LOADER -->
    <div id="loader-wrapper"></div>

    <div id="content-block">
        <!-- HEADER -->
        {% include 'header.html' %}

        <div class="grey-background">
            <div class="container">
                <div class="empty-space col-xs-b35 col-md-b70"></div>

                <div class="tabs-block">
                    <div class="row">
                        <div class="col-lg-4 col-xs-b15 col-lg-b0">
                            <div class="h4">best sellers</div>
                        </div>
                        <div class="col-lg-8">
                            <div class="tabulation-menu-wrapper col-lg-text-right">
                                <div class="tabulation-title simple-input">all</div>
                                <ul class="tabulation-toggle">
                                    <li><a class="tab-menu active">all</a></li>
                                    <li><a class="tab-menu">Educational</a></li>
                                    <li><a class="tab-menu">Gerneral</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="empty-space col-xs-b15 col-sm-b30"></div>
                    <div class="tab-entry visible">

                        <div class="row nopadding">
                            <div class="col-lg-6">
															<div class="row nopadding">
	                                {% for book in books %}
	                                <div class="col-sm-4">
	                                    <div class="product-shortcode style-1">
	                                        <div class="title">
	                                            <div class="h6 animate-to-green">
	                                                <a href="/book/{{book.id|lower}}">{{book.title}}</a>
	                                            </div>
	                                        </div>
	                                        <div class="preview">
	                                            {% if book.images.all() %}
	                                            <img style="height:350px;"src="{{ url_for('static', filename='files/images/%s'%(book.images.all()[0].filename))}}" alt="">
	                                            {% endif %}
	                                            <div class="preview-buttons valign-middle">
	                                                <div class="valign-middle-content">
	                                                    <a class="button size-2 style-2" href="/book/{{book.id|lower}}">
	                                                        <span class="button-wrapper">
	                                                            <span class="icon"><img src="../static/img/icons/icon-1.png" alt=""></span>
	                                                            <span class="text">Learn More</span>
	                                                        </span>
	                                                    </a>
	                                                    <button class="button size-2 style-3 add-cart-button" bookId="{{book.id}}" csrfToken="{{ csrf_token() }}">
	                                                        <span class="button-wrapper">
	                                                            <span class="icon">
	                                                                <img src="../static/img/icons/icon-3.png" alt="">
	                                                            </span>
	                                                            <span class="text">add to cart</span>
	                                                        </span>
	                                                    </button>
	                                                </div>
	                                            </div>
	                                        </div>
	                                        <div class="price">
	                                            <div class="simple-article size-4"><span class="color">₹{{book.price}}</div>
	                                        </div>
	                                        <div class="description">
	                                            <div class="simple-article text size-2">
	                                                {{book.description}}
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                {% endfor %}
	                            </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="slider-wrapper side-borders grid-products-2-items">
                                    <div class="swiper-container">
                                        <div class="swiper-button-prev hidden"></div>
                                        <div class="swiper-button-next hidden"></div>
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">

                                            </div>
                                        </div>
                                        <div class="swiper-pagination md-relative-pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="empty-space col-xs-b35 col-md-b70"></div>

            </div>
        </div>



        </div>



    <script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/swiper.jquery.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/global.js')}}"></script>

    <!-- styled select -->
		<script src="{{ url_for('static', filename='js/jquery.sumoselect.min.js')}}"></script>

    <!-- counter -->
  	<script src="{{ url_for('static', filename='js/jquery.classycountdown.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jquery.knob.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jquery.throttle.js')}}"></script>

    <!-- custom javaascript -->
    <script src="{{ url_for('static', filename='js/custom.js')}}"></script>

</body>
</html>
