<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Questrial|Raleway:700,900" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.extension.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/swiper.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sumoselect.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">

    <link rel="shortcut icon" href="../static/img/favicon.ico" />
  	<title>My Orders</title>
</head>
<body>

    <!-- LOADER -->
    <div id="loader-wrapper"></div>

    <div id="content-block">
        <!-- HEADER -->
        {% include 'header.html' %}
        <div class="container">
            <div class="empty-space col-xs-b15 col-sm-b50 col-md-b100"></div>
            <div class="text-center">
                <div class="simple-article size-3 grey uppercase col-xs-b5">All Orders</div>
                <div class="h2">check your Orders</div>
                <div class="title-underline center"><span></span></div>
            </div>
        </div>

        <div class="empty-space col-xs-b35 col-md-b70"></div>

        <div class="container">
            <table class="cart-table">
                <thead>
                    <tr>
                        <th class="col-md-4">Books</th>
                        <th class="col-md-4">Shipping Address</th>
                        <th class="col-md-2">Price</th>
                        <th class="col-md-2">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td data-title=" ">
                            {% for bk in order.order_books %}
                            <h6 class="h6">
                                <a href="/book/{{bk.book.id}}">
                                    {{loop.index|string +') ' + bk.book.title}}
                                </a>
                            </h6>
                            {% endfor %}
                        </td>
                        <td data-title=" ">
                            {{
                                order.shipping_name + ', '
                                + order.shipping_address + ', '
                                + order.shipping_city + ', '
                                + order.shipping_state + ', '
                                + order.shipping_pincode
                            }}
                        </td>
                        <td data-title="₹">
                            {{order.total_price}}
                        </td>
                        <td data-title="">
                            {{'Cancelled' if order.is_cancelled
                                else ('Approved' if order.is_approved
                                else 'Waiting for Approval') }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="empty-space col-xs-b35"></div>
        </div>


    </div>



    <script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/swiper.jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/global.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <!-- styled select -->
    <script src="{{ url_for('static', filename='js/jquery.sumoselect.min.js')}}"></script>

    <!-- counter -->
    <script src="{{ url_for('static', filename='js/jquery.classycountdown.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.knob.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.throttle.js')}}"></script>

    <!-- custom javascript -->
    <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
    <!-- masonry -->
    <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js')}}"></script>
    <script>
        $(window).load(function(){
            var $container = $('.grid').isotope({
                itemSelector: '.grid-item',
                masonry: {
                    columnWidth: '.grid-sizer'
                }
            });
        });
    </script>

</body>
</html>
