<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Bibliomart | My Account </title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/bootswatch.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fileinput.min.css')}}" media="all" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <script src="{{ url_for('static', filename='js/fileinput.js')}}" type="text/javascript"></script>

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}"/>
</head>

<body style="padding-top: 70px;">
    <div class="container">

        {% include 'navbar.html' %}
        <!-- main right col -->
        {%  include 'flash.html' %}

        <div class="row">
            <div class="col-md-2" >
                <h3></h3>
                <ul class="nav nav-sidebar">
                    <li>
                        <a href="{{url_for('admin_verify')}}">
                            Orders
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{url_for('add_book')}}">

                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('admin_view_books')}}">
                            Wishlist
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('add_category')}}">
                            Cart
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('admin_confirmed_orders')}}">
                            Personal Information
                        </a>
                    </li>
                </ul>
            </div>


        <!-- Bootstrap core JavaScript
        ================================================== -->

    </body>
</html>
